# Virtual environments
pyenv

# Output file
output.txt
output.png
solution.out
ag.err

# Gradio
.gradio

# Python cache
__pycache__
ag4masses/alphageometry/__pycache__/alphageometry.cpython-310.pyc
ag4masses/alphageometry/__pycache__/ar.cpython-310.pyc
ag4masses/alphageometry/__pycache__/beam_search.cpython-310.pyc
ag4masses/alphageometry/__pycache__/dd.cpython-310.pyc
ag4masses/alphageometry/__pycache__/ddar.cpython-310.pyc
ag4masses/alphageometry/__pycache__/decoder_stack.cpython-310.pyc
ag4masses/alphageometry/__pycache__/geometry.cpython-310.pyc
ag4masses/alphageometry/__pycache__/graph_utils.cpython-310.pyc
ag4masses/alphageometry/__pycache__/graph.cpython-310.pyc
ag4masses/alphageometry/__pycache__/lm_inference.cpython-310.pyc
ag4masses/alphageometry/__pycache__/models.cpython-310.pyc
ag4masses/alphageometry/__pycache__/numericals.cpython-310.pyc
ag4masses/alphageometry/__pycache__/pretty.cpython-310.pyc
ag4masses/alphageometry/__pycache__/problem.cpython-310.pyc
ag4masses/alphageometry/__pycache__/trace_back.cpython-310.pyc
ag4masses/alphageometry/__pycache__/transformer_layer.cpython-310.pyc
ag4mtest/ag.err
ag4mtest/ag.out
aglib/meliad/__pycache__/metrics_summary.cpython-310.pyc
aglib/meliad/__pycache__/optimizer_config.cpython-310.pyc
aglib/meliad/__pycache__/training_loop.cpython-310.pyc
aglib/meliad/__pycache__/training_task.cpython-310.pyc
aglib/meliad/transformer/__pycache__/__init__.cpython-310.pyc
aglib/meliad/transformer/__pycache__/attention.cpython-310.pyc
aglib/meliad/transformer/__pycache__/decoder_stack.cpython-310.pyc
aglib/meliad/transformer/__pycache__/inference_utils.cpython-310.pyc
aglib/meliad/transformer/__pycache__/memory_factory.cpython-310.pyc
aglib/meliad/transformer/__pycache__/memory_layer.cpython-310.pyc
aglib/meliad/transformer/__pycache__/metric_utils.cpython-310.pyc
aglib/meliad/transformer/__pycache__/models.cpython-310.pyc
aglib/meliad/transformer/__pycache__/nn_components.cpython-310.pyc
aglib/meliad/transformer/__pycache__/position_fourier.cpython-310.pyc
aglib/meliad/transformer/__pycache__/position_t5.cpython-310.pyc
aglib/meliad/transformer/__pycache__/position.cpython-310.pyc
aglib/meliad/transformer/__pycache__/synthetic_text_data.cpython-310.pyc
aglib/meliad/transformer/__pycache__/text_dataset.cpython-310.pyc
aglib/meliad/transformer/__pycache__/transformer_base.cpython-310.pyc
aglib/meliad/transformer/__pycache__/transformer_layer.cpython-310.pyc
